.info-box
  a.info-link(href="../index.html")
    h2.logo GCSS
ul.nav
  li.nav-item
    a.nav-link(class={"is-active": currentUrl === "index"} href="#{baseUrl}/index.html") 概觀
  li.nav-item
    a.nav-link(class={"is-active": currentUrl === "style-guide"} href="#{baseUrl}/style-guide.html") Style guide
  li.nav-item
    a.nav-link(class={"is-active": currentUrl === "file-array"} href="#{baseUrl}/file-array.html") 檔案結構
  li.nav-item.has-child
    a.nav-link(class={"is-active": currentUrl === "base-group"} href="#{baseUrl}/base-group.html") Base 組成
    ul.sub-nav(class={"is-show": currentUrl === "base-group"})
      li.nav-item
        a.nav-link(class={"is-active": subCurrentUrl === "reset"} href="#{baseUrl}/base-group/reset.html") reset
      li.nav-item
        a.nav-link(class={"is-active": subCurrentUrl === "variables"} href="#{baseUrl}/base-group/variables.html") variables
      li.nav-item
        a.nav-link(class={"is-active": subCurrentUrl === "mixin"} href="#{baseUrl}/base-group/mixin.html") mixin
      li.nav-item
        a.nav-link(class={"is-active": subCurrentUrl === "tools"} href="#{baseUrl}/base-group/tools.html") tools
      li.nav-item
        a.nav-link(class={"is-active": subCurrentUrl === "base"} href="#{baseUrl}/base-group/base.html") base